
*{
    
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(73, 110, 233);
    margin: 0;
    display: grid;
    grid-template-areas:
    "header header"
    "main main"
    "aside asides"
    "footer footer";
}

header{
   
    font-family: 'Yellowtail', cursive;
    font-size: xx-large;
    grid-area: header;
    width: 98.6vw ; height: auto;
    border-radius: 4px;
    border: solid 2px cornflowerblue;
    text-align: center;
    align-items: center;
    background-color: rgba(138, 195, 245, 0.692);
}

main{
    
    font-family:'Libre Franklin', sans-serif;
    font-size: x-large;
    margin-top: 50px;
    text-align: center;
    float: left ;
    grid-area: main;
}
aside{
    margin-left: 130px;
    font-family:'Libre Franklin', sans-serif;   
    grid-area: aside;
}
div{
    
    padding: 20px;
    height: 100px;
    margin-top: 30px;
    display: flex;
    text-align: center;
    gap: 2rem;
   
}

div ul:nth-child(1){
    background-color: thistle;
    margin-left: 250px;
    border: solid 1px blue;
    border-radius: 3px;
    flex: 1;
    grid-area: aside;
    font-size: large;
}
div ul:nth-child(2){
    background-color: thistle;
    margin-left: 100px;
    border: solid 1px blue;
    border-radius: 3px;
    flex: 1;
    grid-area: aside;
    font-size: large;       
}
ul li{
    
    padding: 1.5px    ;
}
#preparo{
    background-color: thistle;
    word-spacing: 2px;
    padding: 30px;
    border-radius: 3px;
    height: 460px;
    border: solid 1px blue;
    font-size: 23px;
    margin: 50px 0px 50px 250px;
    gap: 20px;
    
}
#preparo>strong{
    margin: 250px;
    text-transform:capitalize;
    font-size: x-large;
   
    
}

img{
    margin-top: 10px;
    border-radius: 50px;
    width: 650px;   height: 600px;
}
li{list-style: none;
    
}
footer{
        grid-area: footer;
        height:5rem;
        background-color:rgba(138, 195, 245, 0.692);
        display: flex;
        align-items: center;
        margin-top: auto;
        justify-content: center;
        text-align: center;
        border: solid 2px cornflowerblue;
        border-radius: 4px;

}
